body{
    font-family: "Poppins", sans-serif;
    margin: 0%;
    
}
h1{
    font-size: 50px;
}
.color{
    color:orange;
}
.flexible-container{
   display:flex;
   margin-bottom: 150px;
}
.half-width{
    width:50%;
    padding-left: 5%;
}
.half-width img{
    width:90%;
}
.link-button{
    text-decoration: none;
    color: red;
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 40px;
}
.top-banner{
    background-image: url(images\ \(6\).jpg);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images\ \(5\).jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images\ \(6\).jpg);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow:10px 10px 50px rgb(98, 105, 205);
}
#saiful-islam{
    border-left: solid;
    border-image: linear-gradient(blue cyan);
    border-image-slice: 1;
}
#new-develop{
    border-left: solid;
    border-image: linear-gradient(blue cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}